.icon {
  width: 20px;
  height: 20px;
  animation: move 5s ease-in infinite;
  background-size: 20px 20px;
  display: inline-block;
  position: absolute;
}

@keyframes move {
  0% {
    opacity: 0;
    transform: translate(0, 0);
  }
  10% {
    opacity: 1;
    transform: translate(20px, unset);
  }
  30% {
    opacity: 1;
    transform: translate(-20px, unset);
  }
  60% {
    opacity: 1;
    transform: translate(20px, unset);
  }
  90% {
    opacity: 1;
    transform: translate(-20px, unset);
  }
  100% {
    opacity: 0;
    transform: translate(0, 600px);
  }
}
